@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #000000;
    height: 100vh;
    box-sizing: border-box; /*Garante que nada vai sair do body size*/
    color: #F6F6F6;
}
.presentation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10% 15%;
    
}

.presentation__content{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.presentation__content__title{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.presentation__content__title__emphasis{
    color: #22D4FD;
}

.presentation__content__text{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.4;
}

.presentation__links{
    display: flex;
    justify-content: space-between;
}

.presentation_links_link{
    width: 280px;
    text-align: center;
    background-color: #22D4FD;
    border-radius: 16px;
    font-size: 24px;
    padding: 21px 0px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    font-weight: 600;
}

img{
    width: 25em;
    border-radius: 10px;
    padding: 20px;
    border:#22D4FD 2px solid;
}